<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861304830205-evsr49lodcthba95gm7hm12ve7m0b102.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861304830205-evsr49lodcthba95gm7hm12ve7m0b102</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861304830205-3b2bkoitkm4krd2686rqgfifmroifljg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCn4d43KEDmTvANKohrq0K3pUJXffRLeTc</string>
	<key>GCM_SENDER_ID</key>
	<string>861304830205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleeq.app</string>
	<key>PROJECT_ID</key>
	<string>sleeq-flutterflow</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeq-flutterflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861304830205:ios:fe2cef4428564aa37be694</string>
</dict>
</plist>